In [1]:
import pygsheets
import pandas as pd

In [6]:
#путь к json-файлу
google_cred = '/Users/skostuchik/skostiuchik-4fde73b06f30.json'

In [2]:
#тестовый датафрейм
df = pd.DataFrame({
        'A':list('abcdef'),
         'B':[4,5,4,5,5,4],
         'C':[7,8,9,4,2,3],
         'D':[1,3,5,7,1,0],
         'E':[5,3,6,9,2,4],
         'F':list('aaabbb')
})

In [7]:
#авторизация
gc = pygsheets.authorize(service_file=rf'{google_cred}')

<b>Создание таблицы</b>

In [21]:
#создаем файл spreadsheet
res = gc.sheet.create("sampleTitle")

In [ ]:
#создаем переменную для файла
createdSpreadsheet = gc.open_by_key(res['spreadsheetId'])

In [ ]:
#создаем переменную для листа
s = createdSpreadsheet.worksheet_by_title("Sheet1")

In [ ]:
#предоставление доступа
createdSpreadsheet.share('s.kostiuchik@city-mobil.ru', role='writer', type='user')

Сервисный аккаунт создает файл на своем диске в корневом каталоге, поэтому нужно явным образом переместить его в нужную папку:

In [31]:
#Перемещаем файл spreadsheet в нужную директорию
gc.drive.move_file(file_id=res.get('spreadsheetId'), old_folder='', new_folder='1GKgzlkGrshwGRg8u-oPfPVG3JiQz6tu6')

{'kind': 'drive#file',
 'id': '1PmWGsR0-EdRLy-rTX1RJ0TPtDXg9yKxdENEgoThizE8',
 'name': 'sampleTitle',
 'mimeType': 'application/vnd.google-apps.spreadsheet'}

In [34]:
#запись датафрейма. Второй аргумент - ячейка, откуда начинается вставка
s.set_dataframe(df, (1, 1))

***

In [38]:
#Сервисный аккаунт должен быть в одном домене для передачи роли владельца файла
#gc.drive.create_permission(file_id=res.get('spreadsheetId'), role='owner',
#                           emailAddress='s.kostiuchik@city-mobil.ru', type='user',
#                           transferOwnership=True)

***

<b>Получение данных из таблицы</b>

In [46]:
sh = gc.open_by_url('https://docs.google.com/spreadsheets/d/1r5M5gImVxGe8tn2d9Duhd6rzelHm4_k1lITj1vmj478/edit#gid=0')
s = sh.worksheet_by_title("Sheet1")

In [47]:
#получить данные из таблицы в виде датафрейма
s.get_as_df()

   A  B  C  D  E  F
0  a  4  7  1  5  a
1  b  5  8  3  3  a
2  c  4  9  5  6  a
3  d  5  4  7  9  b
4  e  5  2  1  2  b
5  f  4  3  0  4  b